@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto',  Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    line-height: 1.8;
}
p, ul, ol {
    max-width: 70ch;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: "•";
    color: #3498db;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

h1, h2, h3, h4{
    color: #2c3e50;
    margin-top: 30px;
    font-weight: 700;
}

h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #2c3e50;
}
h2{
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}

p {
    margin-bottom: 20px;
}
ul, ol {
    margin-bottom: 20px;
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}

a{
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;

}
a:hover {
    color: #2980b9;

}


img{
    max-width: 200px;
    height: auto;
    float: center;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4pxx rgba(0, 0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    object-fit: cover;
    width: 200px;
    height: 150px;
    
}

img:hover{
   transform: scale(1.05);
}
@media (max-width: 600px){
    body {
        padding: 10px;
    }
    h1 {
        font-size: 2rm;
    }
    h2 {
        font-size: 1.7em;
    }
    h3{
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.1em;
    }

    img {
        float: none;
        display: block;
        margin: 10px auto;
    }

}