/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    background-color: #223d17;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1,
h2,
h3,
ol,
ul,
p {
    text-align: justify;
    margin: 15px 0;
    
}

h1 {
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    color: #333333;
    background: #FFFFFF;
}

#enlace {
    background-color: #279e59;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 80%;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: #176635;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 80%;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.container {
    background-color: #fff;
    width: 80%;
    max-width: 900px;
    min-height: 90vh;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
}

ol,
ul {
    padding-left: 40px;
}

table td ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

table td ul li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

table td img {
    display: block;
    margin: auto;
    max-width: 150px;
    height: auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c180b;
    padding: 10px 0;
    width: 100%;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.menu-icon {
    display: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    padding: 14px 20px;
}

#menu.hidden {
    display: none;
}

/* Estilo para el botón "Subir al principio" */
.scrollToTopBtn {
    position: fixed; /* Coloca el botón en una posición fija */
    bottom: 40px; /* Ubica el botón 40px por encima del borde inferior */
    right: 30px; /* Ubica el botón 30px desde el borde derecho */
    padding: 10px 20px; /* Añade un relleno de 10px arriba y abajo, y 20px a los lados */
    font-size: 30px; /* Aumenta el tamaño del texto dentro del botón */
    background: linear-gradient(to right, #17941b, #0f4e09); /* Aplica un fondo de degradado verde claro y oscuro */
    color: white; /* Color blanco para el texto o ícono */
    border: none; /* Elimina la linea de borde del botón */
    border-radius: 10px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambia el cursor a un puntero, indicando que el botón es clickeable */
    opacity: 0; /* Comienza el botón invisible */
    visibility: hidden; /* Mantiene el botón oculto */
    transform: scale(0.8); /* El botón comienza con un tamaño reducido al 80% */
    transition: opacity 0.5s ease, visibility 0s 0.5s, transform 0.5s ease; /* Transición suave para opacidad y tamaño */
}

/* Estado del botón cuando está visible */
.scrollToTopBtn.show {
    opacity: 1; /* Hace que el botón sea completamente visible */
    visibility: visible; /* Cambia la visibilidad a visible */
    transform: scale(1); /* Restaura el tamaño original del botón */
    transition: opacity 0.5s ease, visibility 0s 0s, transform 0.5s ease; /* Transición de visibilidad y tamaño */
}

/* Efecto cuando el mouse pasa sobre el botón */
.scrollToTopBtn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón en un 10% al pasar el ratón */
}

.scrollToTopBtn:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón por encima */
}

@media screen and (max-width: 768px) {
    .navbar a {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .navbar .menu.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        text-align: center;
    }

    .navbar .menu a {
        padding: 10px;
        color: white;
        text-align: left;
    }
}

/* Footer */
.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    border-radius: 4px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}