body {
    font-family: 'Roboto',  Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    line-height: 1.8;
}
section {
    display: flex;
    width: 1000px;
    height: 1000px;
}

section img {
    width: 500px;
    height: 600px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
    

}

section img:hover {
    cursor: crosshair;
    width: 650px;
    opacity: 1;
    filter: contrast(120%);
}